.jg-line-1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jg-line-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.jg-affix{
    position: sticky;
    top: 40px;
    height: 0;
}
.jg-shadow{
    box-shadow: 0 0 0 rgb(56 56 56 / 15%);
}   
.jg-shadow:hover{
    box-shadow: 0 6px 12px rgb(56 56 56 / 10%);
}
.jg-zoom{
    transition: 0.2s;
}
.jg-zoom:hover{
    transform: scale(1.05);
}
.jg-border{
    border: 1px solid transparent;
}
.jg-border:hover{
    border-color: #fc0;
}
.jg-shadow-box{
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    border-radius: 8px;
}